body{
	background: #E0FFFF;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 4px;
	margin: 0px;
}

#header {
	background: #ADD8E6;
	width: 100%;
	height: 150px;	
	margin-top:0px;
	border: 1px solid #66CDAA;
	display: block;	
}

#categories {
	background: #ADD8E6;
	width: 13%;
	float: left;
	height: 750px;	
	border: 2px solid #66CDAA;
	display: block;	
}

#content {
	background: #E0FFFF;
	width: 75.57%;
	float: left;
	height: 750px;	
	border: 1px solid #66CDAA;
	display: block;	
}

#user {
	background: #ADD8E6;
	width: 11%;
	float: left;
	height: 750px;	
	border: 1px solid #66CDAA;
	display: block;	
}

#userInfo {
	background: #ADD8E6;
	width: 96%;
	padding: 2%;
	border-bottom: 1px solid #66CDAA;
	display: block;	
}

#footer {
	background: #ADD8E6;
	width: 99.5%;
	height: 80px;
	bottom: 1px;
	border: 2px solid #66CDAA;
	display: block;
	position:absolute;
}
